html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Century Gothic";
}
img{
	position:relative;
	z-index:-1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.wrap{
	width: 1180px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:2;
}
.box{
	position:relative;
	z-index:2;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.6em;
	margin-top:300px;
	margin-left:45%;
	font-family:'Century Gothic';
}
.box h2{
	position:relative;
	z-index:3;
}
.box p{
	font-size:20px;
}
#fullpage{
	position:relative
}
.section{
	position: relative;
    text-align: center;
	min-height:100%;
	margin:0;
	overflow:hidden;
	padding-top:100px
}
/* Section 0
* --------------------------------------- */
.section00{
	padding: 0;
	overflow: hidden;
}
.section00 img{
	height: 100%;
}
.section00long{
	padding: 0;
	overflow-y:scroll;
	overflow-x: hidden;
}
.section00long img{
	width: 100%;
	margin: 0;
}

.sectionAnim img{
	position:absolute;
	left:-70px;
	width:100%;
	height:120%;
	top:-100px;
	z-index:-1;
}
	
/* Section 2
* --------------------------------------- */

#staticImg{
	display: block;
	position: absolute;
	z-index: 1;
	top: 2300%;
	left: 5%;
	height: 100%;

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
		
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

#staticImg img{
	position: absolute;
	height:100%;
}

#section2 .imgsContainer,
#staticImg .imgsContainer,
#section3 .imgsContainer{
	position: absolute;
	z-index: 1;
	left: 50%;
	display: block;
	margin-top: -288px;
	margin-left: -636px;

	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

#staticImg.moveDown{
	-webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#staticImg.moveUp{
	-webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#staticImg.sticky-img3{
	top: 2400%;
	position: fixed;
}
#staticImg.sticky-img4{
	top: 2500%;
	position: fixed;
}
#staticImg.sticky-img5{
	top: 2600%;
	position: fixed;
}
	
.singlegif{
	position:absolute;
	margin:0;
	padding:0;
	top:0;
	height:100%
}
.singlegif img{
	margin:0;
	padding:0;
	width:100%;
	top:-100px;
}
/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.fp-tooltip{
	color: #AAA;
}
#fp-nav span, .fp-slidesNav span{
	border-color: #AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
	background: #AAA;
}
#fp-nav ul li .fp-tooltip {
	color:#000;
}

.lastSec{
	position:relative;
	left:-20%;
}
.lastSecText{
	position:absolute;
	top:0;
	margin-top:200px;
	height:100%;
	text-align:left;
	left:35%;
	color:#000000;
}
.lastSecText h2{
	padding-bottom: 100px;
}
.writer{
	margin-top:20px;
}
.writer img{
	position:relative;
	height:80px;
	border-radius:50%; 
	display:inline;
	float:left
}

.writer p{
	position:relative;
	font-size:30px;
	margin-top: 0;
	padding-left: 20px;
	display:inline-block;
	float:left;
}

.smallText{
	text-align:right;
	font-size: 18px;
}