html,
body {
    width: 100%;
	margin:0;
    font-family: "Century Gothic";
	text-align:center
}
img{
	position:relative;
	z-index:-1;
}
.section{
	position: relative;
    text-align: center;
	width:100%;
	height:auto;
	margin:0;
	top:0;
	overflow:hidden;
}
.section img{
	width: 100%;
	margin: 0;
}
/* Section Anim
* --------------------------------------- */
.sectionAnim img{
	position:absolute;
	left:-70px;
	width:100%;
	height:120%;
	top:-100px;
	z-index:-1;
}
.wrap{
	width: 1180px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:2;
}
.box{
	position:relative;
	z-index:2;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.6em;
	margin-top:300px;
	margin-left:45%;
	font-family:'Century Gothic';
}
.box h2{
	position:relative;
	z-index:3;
}
.box p{
	font-size:20px;
}

/* static img
* --------------------------------------- */
#staticImg{
	display: none;
	position: absolute;
	z-index: 1;
	left: 5%;
	height: 100%;
}

#staticImg img{
	position: absolute;
	height:100%;
}

.fix-staticImg{
	position:fixed !important;
	top:0 !important;
}	

/* gif sections
* --------------------------------------- */
.singlegif img{
	left:0;
	top:-100px;
	width:100%;
}

/* last sec, thank you
* --------------------------------------- */
.lastSecText{
	position:absolute;
	top:0;
	margin-top:60px;
	height:100%;
	text-align:left;
	left:20%;
	color:#000000;
}
.lastSecText h2{
	padding-bottom: 50px;
}
.writer{
	margin-top:20px;
}
.writer img{
	position:relative;
	height:80px;
	width:auto;
	border-radius:50%; 
	display:inline;
	float:left
}

.writer p{
	position:relative;
	font-size:30px;
	margin-top: 0;
	padding-left: 20px;
	display:inline-block;
	float:left;
}

.smallText{
	text-align:right;
	font-size: 18px;
}